.containerWithMenuButtons {
    display: inline-block;
}

.menuButton {
    background: rgba(255,255,255,0);
    border: 1px solid rgba(255,255,255,0);
    margin-left: 6px;

}

.usedButton {
    background: rgba(255,255,255,0);
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 6px;
}