.App {
    text-align: center;
}

header {
    margin-bottom: 25px;
    font: 24px Times;
    text-align: center;
}

.workspace {
    display: flex;
   flex-direction: column;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
    width: 500px;
    border-radius: 2px;
    margin-right: auto;
    margin-left: auto;
}
.inputElem {
    justify-content: space-between;
    width: 500px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    margin-top: 6px;
    padding: 6px;
    margin-right: auto;
    margin-left: auto;
}

#textInput {
    width: 400px;
    outline: none;
    border:none;
    border-bottom: lightgray 1px solid;
    font: 18px "Tibetan Machine Uni";
    margin-bottom: 15px;
}

.task-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.containerWithButtons {
    display: inline-block;
}

.Button {
    background: rgb(38 154 142);
    outline: none;
    border-radius: 3px;
    border: 1px solid darkgray;
    width: 50px;
    height: 30px;
    color: white;
}

.Button:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.tasks {
    padding: 5px;
    border-bottom: 1px solid lightgray;
    word-break: break-word;
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskMenu {
    height: 20px;
}
